ga4gh.vrs[extras]==2.0.0a10
diskcache
biocommons.seqrepo
glom
click
pyyaml
google
requests
boto3
tqdm
google-cloud-storage
psutil
setuptools

# for cohort allele frequency generation
firecloud
pandas
